.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Sora;
  font-weight: 500;
  letter-spacing: 1px;
  width: 841px;
  margin: 126px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 116px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 278px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0 30px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: Sora;
  font-size: 1.25rem;
  text-transform: none;
  margin: 23px 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 4px 23px 0 31px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-2 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-1 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0 30px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: Sora;
  font-size: 1.25rem;
  text-transform: none;
  margin: 23px 30px 0;
}

.u-section-1 .u-text-5 {
  margin: 4px 23px 0 31px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  height: 23px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-1 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0 30px;
}

.u-section-1 .u-text-6 {
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 300;
  font-family: Sora;
  font-size: 1.25rem;
  text-transform: none;
  margin: 23px 30px 0;
}

.u-section-1 .u-text-7 {
  margin: 4px 23px 0 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 229px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 526px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 23px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 356px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 236px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 236px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 42px;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 184px;
  min-width: 88px;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 604px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 209px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 855px;
  margin: -159px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 285px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 285px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-video-2 {
  margin-left: auto;
  margin-right: -3px;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto 0 400px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: -44px 87px 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 87px 0 60px auto;
  padding: 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-3 .u-video-2 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 70px;
    margin-left: 329px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -159px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 147px;
    margin-left: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -1307px;
    margin-left: 189px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -674px;
    margin-left: 119px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 600px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 223px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 859px;
  margin: -145px 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 285px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-video-1 {
  background-image: none;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 285px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-video-2 {
  margin-left: auto;
  margin-right: -3px;
  background-image: none;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 23px 542px 0 379px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: -25px 103px 0 auto;
}

.u-section-4 .u-btn-1 {
  font-size: 0.8125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 75px 0 60px auto;
  padding: 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 554px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-4 .u-video-2 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-4 .u-text-2 {
    margin-right: 442px;
    margin-left: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 477px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -145px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 332px;
    margin-left: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1362px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 242px;
    margin-left: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 940px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 121px;
    margin-left: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 613px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 210px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 852px;
  margin: -146px 0 0 auto;
}

.u-section-5 .u-image-1 {
  min-height: 285px;
  background-image: url("images/258d533bb507d9fe37962614764bf0c7adaabd50e7b023c2950ae91f3554682c541492c07c74f5d68439f9c76f8c2236aeafe3c10a9715b7e8bdf3_1280.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 285px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 38px 537px 0 384px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  margin: 61px auto 60px 1030px;
  padding: 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 437px;
    margin-left: 284px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 830px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -146px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 241px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 327px;
    margin-left: 174px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 610px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 362px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 237px;
    margin-left: 84px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 430px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 228px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 121px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 230px;
  }
}